@import url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap);
*,
body {
  margin: 0;
  padding: 0;
}
.close,
body {
  font-weight: 400;
}
#modalNavigation button,
body {
  font-size: 1rem;
  font-family: Arial, sans-serif;
}
#modalTitle,
#reservationCard hr {
  margin-bottom: 2rem;
}
#gallery .column-full video,
#gallery div img,
.banner video,
.column-full video {
  object-fit: cover;
}
#mapSubTitle,
.main-features ul li,
h4 {
  color: rgb(76 76 76);
}
#modalTitle,
#reservationCard,
.close,
.content,
button,
footer {
  text-align: center;
}
.arrow,
.close,
.logo,
.navigation,
.read-more,
button {
  cursor: pointer;
}
#appMenu li,
#paramUl,
.footer-info,
.modal-content ul,
.sidebar {
  list-style: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: Roboto;
  src: url("/fonts/roboto.woff2") format("woff2");
  font-display: swap;
}
h1 {
  font-family: Lora, serif !important;
  font-size: 1.625rem !important;
}
h4 {
  font-size: 0.875rem;
}
.logo img {
  width: 70px;
  height: 50px;
}
.banner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
.navbar {
  width: 90%;
  padding: 30px;
  margin: auto auto 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 160px;
  margin-top: -10px;
}
#appMenu li {
  display: inline-block;
  margin: 20px;
}
#appMenu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  padding: 0.3rem 2rem;
  font-size: 1rem;
}
#appMenu li a:hover,
.navbar a:hover {
  color: #000;
}
.navbar li a:hover {
  background: #f7f2ea;
  padding: 0.3rem 2rem;
  border-radius: 5px;
  transition: 0.6s;
}
.menu-button {
  background-color: #ffffff00;
  border: none;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.villa-section,
button {
  background-color: #fff;
}
.villa-details,
h3 {
  margin-bottom: 20px;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  color: #fff;
  top: 65%;
  transform: translateY(-50%);
}
#gallery,
#grotteRow,
.modal-content ul,
.villa-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.content h1 {
  font-size: 3rem !important;
  font-weight: 800;
  color: #fff;
}
.content h1,
h3 {
  opacity: 0;
  transform: translateY(20px);
  animation: 1s ease-out forwards fadeInUp;
}
.content h1 {
  animation-delay: 0.5s;
}
.content h3 {
  font-size: 2rem;
  color: #fff !important;
  animation-delay: 1s;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
button {
  padding: 15px;
  margin: 20px 5px;
  border-radius: 4px;
  color: #033d3d;
  border: 1px solid #033d3d;
  font-size: 0.875rem;
  font-weight: 600;
}
button:hover {
  background-color: #daebeb;
  transition: 0.5s;
}
.banner video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.villa-section {
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  height: auto;
  justify-items: start;
  max-width: 100%;
  content-visibility: auto;
}
.villa-description {
  grid-column: 1/5;
  width: 100%;
}
.villa-description h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}
.villa-details {
  font-size: 0.875rem;
  color: #666;
  display: flex;
  gap: 0.5rem;
}
.clima,
.close {
  color: #033d3d;
}
.main-features {
  margin-bottom: 30px;
}
h3 {
  font-family: Lora, serif;
  font-size: 24px;
  color: #333;
}
.main-features ul {
  list-style-type: none;
}
.main-features ul li {
  font-size: 16px;
  margin-bottom: 16px;
}
.main-features ul li i {
  margin-right: 10px;
  color: rgb(76 76 76);
  font-weight: 600;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#modalNavigation button:hover,
.close,
.modal-content {
  background-color: #fff;
}
.modal-content {
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 55%;
  max-width: 55%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-height: 95%;
  height: 95%;
  overflow-y: auto;
  border-radius: 5px;
}
.close {
  float: right;
  font-size: 16px;
  box-shadow: 0 0 3px #c4c4c4;
  border-radius: 50px;
  width: 35px;
  padding: 0.4rem;
}
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#modalNavigation {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 24px;
}
#modalNavigation button {
  border: none;
  border-radius: 0;
  padding: 0 0 8px;
  margin: 0 36px 0 0;
  font-weight: 700;
  color: #757575;
}
#modalNavigation .active {
  color: #000 !important;
  border-bottom: 1px solid #000;
}
#modalTitle {
  padding: 0 2rem;
}
.salon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}
.salon span {
  font-weight: 700;
  color: #000;
}
.clima {
  background-color: rgb(247 247 247);
  padding: 0.5rem;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 1rem 0.5rem 0.5rem 0;
}
.modal-content ul {
  margin: 1.3rem 0;
  line-height: 2rem;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1rem;
}
#resevationBtn {
  border: none;
  border-radius: 50px;
  margin: 0;
  background-color: #ffc014;
  padding: 0.5rem 2rem;
  color: #000;
  display: none;
}
.modal #reservationCard {
  margin: 1rem auto;
}
.video-text i {
  padding: 1rem;
  border-radius: 50px;
  background-color: gold;
}
.video-text {
  margin: 0 1rem;
}
.video-text p {
  font-size: 2em;
  margin-top: 0;
  padding: 0;
}
#reservationCard {
  border: 1px solid #bbb;
  width: 80%;
  height: fit-content;
  padding: 1rem 2rem;
  grid-column: 6/12;
  position: sticky;
  top: 5%;
  min-width: 80%;
}
#reservationCard div:last-child {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #bbb;
}
#reservationBtns {
  display: flex;
  gap: 1rem;
}
#reservationBtns a {
  padding: 0.875rem 1rem;
  margin: 0 6px 16px 0;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  border: 1px solid #033d3d;
  width: 100%;
}
#WhatsappBtn {
  background-color: #033d3d;
  color: #fff !important;
}
#reservationDate {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 2rem;
}
#reservationDate input {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 0.5rem;
}
#gallery .column-full video,
.column img,
.column-full video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#reservationDate input::placeholder {
  color: #999;
  font-weight: 900;
}
#reservationNumber {
  font-weight: 700;
  color: #033d3d;
}
#inputDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  width: 100%;
}
#charactersDiv {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
#charactersDiv ul {
  line-height: 2rem;
}
#relativeDiv {
  position: sticky;
  top: 0;
  min-width: 50%;
  grid-column: 5/8;
  display: flex;
  justify-content: end;
}
#gallery {
  gap: 1rem;
  width: 100%;
}
#gallery .column-full {
  grid-column: 1/8;
}
#gallery .column1 {
  grid-column: 3/8;
  grid-row: 2/4;
}
#gallery .column2 {
  grid-column: 4/8;
}
#gallery .column3,
#gallery .column5 {
  grid-column: 1/3;
}
#gallery .column4 {
  grid-column: 4/8;
  grid-row: 6/6;
}
#gallery .column6 {
  grid-column: 1/4;
  grid-row: 4/4;
}
#gallery .column7 {
  grid-column: 3/8;
}
#gallery .column8,
.column-full {
  grid-column: 1/4;
}
#gallery img,
.column3 img {
  object-fit: cover;
  height: 100%;
}
.hidden {
  display: none !important;
}
.read-more {
  color: #000;
  font-weight: 700;
  display: inline-block;
  margin-top: 1rem;
}
#read-more i {
  transform: rotate(90deg);
  margin-left: 1rem;
}
#charactersLine {
  margin: 2rem 0;
}
.characterList {
  display: flex;
  gap: 0.5rem;
}
#description {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}
#description p {
  margin-top: 2rem;
}
#description p:nth-child(0) {
  margin-top: 0;
}
.localisation {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
#read-less i {
  transform: rotate(-90deg);
  margin-left: 1rem;
}
#grotteDescription {
  margin: 1rem 0;
  line-height: 1.5rem;
}
#grotteRow {
  gap: 1rem;
}
.column1,
.column2 {
  grid-column: 1/2;
}
.column3 {
  grid-column: 2/4;
  grid-row: 2/4;
}
#mapSubTitle {
  font-family: Lora, serif;
  font-size: 1.3rem;
  margin: 1rem 0;
}
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}
.map-iframe {
  width: 100% !important;
  height: 450px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#checkinParam {
  display: flex;
  gap: 3rem;
}
#checkinParam div {
  margin-top: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
#checkinParam div div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: start;
}
#checkinParam h3 {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  color: #202020;
  font-weight: 600;
}
#checkinParam span {
  font-size: 0.875rem;
  color: #757575;
}
#paramUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 0.5rem;
}
#paramUl li,
.footer-content {
  align-items: center;
  display: flex;
  gap: 1rem;
}
#paramUl li {
  margin: 0.5rem 0;
  text-align: start;
}
#paramUl svg path {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #000;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  min-height: 100px;
}
.footer-content {
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
}
.footer-logo {
  max-width: 5rem;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.footer-info {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}
.footer-info li {
  margin: 5px 0;
}
.footer-content a:hover,
.sidebar a:hover {
  text-decoration: underline;
}
#testemonialsDiv {
  background-color: #fbf9f5;
  padding: 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slide {
  display: none;
  width: 100%;
  transition: opacity 0.5s;
}
.slide.active {
  display: block;
  opacity: 1;
}
.userInfos {
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
  align-items: center;
}
.menu-button,
.sidebar {
  display: none;
}
.userInfos img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #757575;
}
.userInfos h3 {
  margin-bottom: 0;
}
.reviewDescription {
  font-size: 1rem;
  line-height: 1.8rem;
}
.reviewDescription i {
  font-size: 2rem;
  margin-top: 1rem;
}
#reviewsController {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
#reviewsController ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
  font-size: 1.25rem;
}
.navigation {
  width: 10px;
  height: 10px;
  border: 1px solid #bbb;
  border-radius: 50%;
}
.navigation.active {
  background-color: #000;
  padding: 0.2rem;
}
.arrow {
  font-size: 1.5rem;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 40vh;
  width: 80%;
  background-color: rgb(60 60 60 / 52%);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1024;
}
.sidebar li {
  width: 100%;
  height: 50px;
}
.sidebar a {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #menu {
    display: none;
  }
}
@media (max-width: 768px) {
  #appMenu {
    display: none;
  }
  .sidebar li {
    font-size: 1.5rem !important;
  }
  .villa-section {
    padding: 20px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .row {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .sidebar li {
    font-size: 1.2rem !important;
  }
  #relativeDiv {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .banner {
    height: 40vh;
  }
  .content {
    top: 65%;
  }
  .modal-content ul,
  .row {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .map-iframe {
    height: 300px;
  }
  #completeDelete {
    display: block !important;
    margin-top: 2rem;
  }
  #charactersDiv {
    flex-direction: column;
  }
  .banner ul {
    display: flex;
    width: 100%;
  }
  .banner ul li {
    margin: 0;
  }
  .modal-content {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  #modalNavigation button {
    font-size: 14px;
    margin-right: 10px;
  }
  .content h1,
  h3 {
    font-size: 1.2rem !important;
  }
  .video-text i {
    padding: 0.5rem;
  }
  h1 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  #relativeDiv {
    display: none;
  }
  body {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 1264px) {
  #appMenu,
  #relativeDiv {
    display: none;
  }
  .sidebar li {
    font-size: 2.5rem;
    margin: 1rem;
  }
  #resevationBtn,
  .menu-button {
    display: block;
  }
  .modal-content {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 900px) {
  #gallery {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  #grotteRow {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  #gallery .column1 {
    grid-column: 2/8;
    grid-row: 2/5;
  }
  #gallery .column2 {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  #gallery .column3 {
    grid-column: 1/2;
  }
  #gallery .column4 {
    grid-column: 3/8;
    grid-row: 6/6;
  }
  #gallery .column5 {
    grid-column: 1/3;
  }
  #gallery .column6 {
    grid-column: 1/2;
    grid-row: 4/4;
  }
  #gallery .column7 {
    grid-column: 3/8;
    grid-row: 5/5;
  }
  #gallery .column8 {
    grid-column: 3/8;
  }
}
@media (max-width: 480px) {
  .footer-info a,
  .footer-info li {
    font-size: 14px;
  }
}
